* {
  text-transform: capitalize;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 10px;
}
a {
  text-decoration: none;
  color: black;
}
.todo {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul {
  padding: 20px;
}

li {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: flex;
  height: 30px;
}
.done {
  text-decoration: line-through;
}
li button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
